@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

::-webkit-scrollbar {
    display: none;
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

.scollbar-hide::-webkit-scrollbar {
    display: none;
}